<h3 class="text-center my-5 course_title">Available Courses</h3>

<div class="container">
    <div class="card courses_card">
        <div class="card-body">
            
        
    <table class="table table-striped text-center">
        <tr>
            <th>courseid</th>
            <th>coursename</th>
            <th>coursefees</th>
            
        </tr>
        <tr *ngFor="let course of course">
            <td>{{course.courseid}}</td>
            <td>{{course.coursename}}</td>
            <td>{{course.coursefees}}</td>
          
            <td>
                <button type="button"  class="btn btn-primary" routerLink="/addcart">Buycourse</button>
            </td>              
           
        </tr>
    </table>

</div>
</div>
</div>

