
<div class ="heading">
    <h1>
        About Us
    </h1>
    <p>Education is not the filling of a pail....,<br/>
        But the lighting of a fire...</p>
</div>
<section class="about-us">
    <img src="assets/img/ca2.0logo.png" height= 150 width = 150>
    <div class="content">
        <p>
            CampusAdmit is a student admission system that aims to provide a fun and engaging way for students to gain knowledge on their favorite subjects during the summer. With CampusAdmit, students can enroll in courses that are tailored to their interests and learn at their own pace. Our platform offers a wide variety of courses in different fields, ranging from 
            their favourite subject.
            Our mission is to make learning accessible and enjoyable for everyone, regardless of their background or academic level. We believe that everyone has the potential to succeed, and we want to provide the tools and resources to help students achieve their goals.
            <br/>
            If you're looking to gain new skills and knowledge this summer, join the CampusAdmit community today and start your learning journey!


        </p>
    </div>
</section>
