<!--<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login to account</h2>

              <form  class="form-signin"><span class="reauth-email"></span>
        <input #Email  type="email" class="form-control" id="inputEmail" required placeholder="Email address" autofocus />
        
        <br>
        <input #PWD type="password" class="form-control" id="inputPassword" required placeholder="Password" />
        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="Login(Email.value,PWD.value)">Sign in</button>
            </div>

       
        <br>
         </form>
            <a class="forgot-password" routerLink="/signup">New User ?</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
      </div>

      <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
        Continue with Google
      </a>
      <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
        Continue with Twitter
      </a>
    
    </div>
  </div>
</section> -->

<!-- <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="form" (ngSubmit)="Login()">
          <h2 class="text-uppercase text-center mb-5">Login to account</h2>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="inputEmail"
              required
              placeholder="Email address"
              autofocus
            />
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
              <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required!!</div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">Invalid email format</div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="inputPassword"
              required
              placeholder="Password"
            />
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
              <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required!!</div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button
              class="submit btn btn-primary btn-lg btn-block"
              type="submit"
              [disabled]="form.invalid"
            >
              Sign in
            </button>
          </div>
          <br />
        </form>
        <div class="d-flex justify-content-around align-items-center mb-4">
           
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
            <a class="forgot-password" routerLink="/signup">New User ?</a>
          </div>
          <a href="#!">Forgot password?</a>
        </div>

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>

        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
          Continue with Google
        </a>
        <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
          Continue with Twitter
        </a>
      </div>
    </div>
  </div>
</section>
 -->

 <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="form" (ngSubmit)="Login()">
          <h2 class="text-uppercase text-center mb-5">Login to account</h2>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="inputEmail"
              required
              placeholder="Email address"
              autofocus
            />
            <div *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')" class="alert alert-danger">
              Email is required!
            </div>
            <div *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')" class="alert alert-danger">
              Invalid email format
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="inputPassword"
              required
              placeholder="Password"
            />
            <div *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')" class="alert alert-danger">
              Password is required!
            </div>
            <div class="alert alert-danger" *ngIf="loginError">
              {{ loginError }}
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
            <a class="forgot-password" routerLink="/signup">New User ?</a>
          </div>

          <div class="d-flex justify-content-center">
            <button
              class="submit btn btn-primary btn-lg btn-block"
              type="submit"
              [disabled]="form.invalid"
            >
              Sign in
            </button>
          </div>
          <br />
        </form>
        <div class="d-flex justify-content-around align-items-center mb-4">
           
          
          <!-- <a href="#!">Forgot password?</a> -->
        </div>

       <!--  <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>

        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
          Continue with Google
        </a>
        <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
          Continue with Twitter
        </a> -->
      </div>
    </div>
  </div>
</section>


