<div class="login-card"><img class="profile-img-card" src="assets/img/ca2.0logo.png" />
    <p class="profile-name-card"></p>
    <form  class="form-signin"><span class="reauth-email"></span>
        <input #Email  type="email" class="form-control" id="inputEmail" required placeholder="Email address" autofocus />
        <input #PWD type="password" class="form-control" id="inputPassword" required placeholder="Password" />
        <button class="btn btn-primary btn-block btn-lg btn-signin" (click)="Login(Email.value,PWD.value)">Sign in</button>
        </form>
            <a class="forgot-password" routerLink="/signup">New User ?</a></div>


            <style>
               

            </style>