<style>

    h1{
        text-align:center;
    }
    </style>
    <h1>Contact Us</h1>
    <div class="container">
        <div class="ContactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Highway City<br/>
                        123 Main Street<br/>
                    Anytown,USA 25976<br/>
                </p>
                    </div>
                </div>
           
            <div class="box">
                <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>campusadmit@gmail.com</p>
                    </div>
                </div>
           
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>(120)-494-0564</p>
                    </div>
                </div>
            
        </div>
    </div>
    
    