<h1 class="text-center my-5 student_dashboard_title">Student Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card student_dashboard_card">
                <a routerLink="/course" class="course_link">
                    <div class="card-body">
                        <img src="https://cdn-icons-png.flaticon.com/512/562/562132.png"height= 100 width=100 class="student_dashboard_img" alt="">
                        <h5 class="text-center my-3">View All Items</h5>
                        <p class="text-muted text-center">Here you can view all the course which are available.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card student_dashboard_card">
                <a routerLink="/viewcourses" class="view_courses_link">
                    <div class="card-body">
                        <img src="assets/img/allprofiles.jpg"height="100" width="100" class="student_dashboard_img" alt="">
                        <h5 class="text-center my-3">Select course</h5>
                        <p class="text-muted text-center">Here you can select your course</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card student_dashboard_card">
              <a routerLink="/contact" class="view_courses_link">
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTloeS54zZdlADVzTF6zZZNfzxLFlWwdUVehQ&usqp=CAU" height=100 width=100 class="student_dashboard_img" alt="">
                    <h5 class="text-center my-3">Contactus</h5>
                    <p class="text-muted text-center">Here you can view all your orders..</p>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>











<!--<h1 class="text-center my-5 admin_dashboard_title">Student Dashboard</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card admin_dashboard_card">
        <a routerLink="/course" class="view_courses_link">
          <div class="card-body">
            <img src="https://cdn-icons-png.flaticon.com/512/562/562132.png"height= 100 width=100  class="admin_dashboard_img" alt="">
            <h5 class="text-center my-3">Courses</h5>
            <p class="text-muted text-center">Here you can view all the courses which are available.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card admin_dashboard_card">
        <a routerLink="/viewcourses" >
          <div class="card-body">
            <img src="assets/img/allprofiles.jpg" height="100" width="100" class="admin_dashboard_img" alt="">
            <h5 class="text-center my-3">select courses</h5>
            <p class="text-muted text-center" id="student-name">Here you can select what course you want</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>  -->
