<div class="container">
    <h1>Create New Course</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="coursename">coursename</label>
            <input 
                formControlName="coursename"
                id="coursename" 
                type="text" 
                class="form-control">
            <div *ngIf="f['coursename'].touched && f['coursename'].invalid" class="alert alert-danger">
                <div *ngIf="f['coursename'].errors && f['coursename'].errors['required']">Title is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="coursefees">coursefees</label>
            <input
                formControlName="coursefees"
                id="coursefees" 
                type="number" 
                class="form-control">
            <div *ngIf="f['coursefees'].touched && f['coursefees'].invalid" class="alert alert-danger">
                <div *ngIf="f['coursefees'].errors && f['coursefees'].errors['required']">Body is required.</div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>