<div class="container">
    <h1 class="text-center my-3">My Profile</h1>
    
    <div class="login-card"><img class="profile-img-card" src=""/>
        <p class="profile-name-card"></p>
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>ID:</strong> {{ user.stdid }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Username:</strong> {{ user.stdname }}</p></div>
        </div>
       
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>Email:</strong> {{ user.email }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Contact:</strong> {{ user.phoneno }}</p></div>
        </div>
  
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>UserType:</strong> {{ user.usertype }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Password:</strong> {{ user.password }}</p></div>
        </div>
       <!--  <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>confirmPassword:</strong> {{ user.confirm_password }}</p></div>
            
        </div> -->
        
        <!-- <div class="row">
            <div class="col-md-12"><p class="text-center my-2"><a class="btn btn-primary edit_profile_btn" routerLink="/editUser/{{stdid}}">Edit Profile</a></p></div>
        </div> -->
        
    </div>
  </div>
  

  